<section class="featured-work" aria-labelledby="featured-work-title">
  
  <h2 id="featured-work-title" class="featured-work__title-main">Featured Work</h2>
  
  
  <div class="featured-work__list">
    {% set projects = [
    {
    name: "NotSoApe",
    category: "CMS",
    image: "/images/NotSoApe.png",
    industry: "IT Services & Consulting",
    stack: "Storyblok, Next.JS, Vercel",
    scope: "Design, Website development, Maintenance"
    },
    {
    name: "EasyPark",
    category: "Ecommerce",
    image: "/images/EasyPark.png",
    industry: "IT Services & Consulting",
    stack: "Storyblok, Next.JS, Vercel",
    scope: "Design, Website development, Maintenance"
    },
    {
    name: "GitNation",
    category: "Mobile App",
    image: "/images/GitNation.png",
    industry: "IT Services & Consulting",
    stack: "Storyblok, Next.JS, Vercel",
    scope: "Design, Website development, Maintenance"
    },
    {
    name: "Secret Escapes",
    category: "Ecommerce",
    image: "/images/SecretEscapes.png",
    industry: "IT Services & Consulting",
    stack: "Storyblok, Next.JS, Vercel",
    scope: "Design, Website development, Maintenance"
    },
    {
    name: "Caleffi",
    category: "Web Design",
    image: "/images/Caleffi.png",
    industry: "IT Services & Consulting",
    stack: "Storyblok, Next.JS, Vercel",
    scope: "Design, Website development, Maintenance"
    }
    ] %}
    
    {% for project in projects %}
    
    <div class="border-card">
      <article class="project-card project-card--collapsible">
        <div class="project-card__text-block">
          <header class="project-card__header">
            <h3 class="project-card__title">{{ project.name }}</h3>
            <span class="project-card__tag mobile-only">{{ project.category }}</span>
          </header>
          <div class="project-card__body">
            <div class="project-card__content">
              <div class="project-card__info">
                <div class="project-card__info-block">
                  <h4 class="project-card__info-title">Industry</h4>
                  <p class="project-card__info-text">{{ project.industry }}</p>
                </div>
                <div class="project-card__info-block">
                  <h4 class="project-card__info-title">Technical Stack</h4>
                  <p class="project-card__info-text">{{ project.stack }}</p>
                </div>
                <div class="project-card__info-block">
                  <h4 class="project-card__info-title">Scope of Work</h4>
                  <p class="project-card__info-text">{{ project.scope }}</p>
                </div>
              </div>
            </div>
            
            <div class="project-card__image-wrapper mobile-only">
              <img src="{{ project.image }}" alt="{{ project.name }} screenshot" class="project-card__image"/>
            </div>
          </div>
        </div>
      
        <div class="project-card__image-wrapper desktop-only">
          <img src="{{ project.image }}" alt="{{ project.name }} screenshot">
          <span class="project-card__tag project-card__tag--overlay desktop-only">{{ project.category }}</span>
        </div>
      </article>
    </div>
    {% endfor %}
  </div>

</section>
