<section class="works">
    <div class="container">
        <div class="title">Featured Work</div>
        <div class="works-grid">
            <div class="item">
                <div class="item-description">
                    <div class="subtitle">
                        NotSoApe
                    </div>
                    <div class="categories">
                        <div class="category">
                            <div class="category-title">Industry</div>
                            <div class="skills">
                                <div class="skill">IT Services & Consultinig</div>
                            </div>

                        </div>
                        <div class="category">
                            <div class="category-title">Technical Stack</div>
                            <div class="skills">
                                <div class="skill">Storybook</div>
                                <div class="skill">Next.JS</div>
                                <div class="skill">Vercel</div>
                            </div>
                        </div>
                        <div class="category">
                            <div class="category-title">Scope of Work</div>
                            <div class="skills">
                                <div class="skill">Design</div>
                                <div class="skill">Website development</div>
                                <div class="skill">Maintenance</div>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="/images/NotSoApe.png" alt="Work 1">
            </div>
            <div class="item">
                <div class="item-description">
                    <div class="subtitle">
                        EasyPark
                    </div>
                    <div class="categories">
                        <div class="category">
                            <div class="category-title">Industry</div>
                            <div class="skills">
                                <div class="skill">IT Services & Consultinig</div>
                            </div>
                        </div>
                        <div class="category">
                            <div class="category-title">Technical Stack</div>
                                <div class="skills">
                                    <div class="skill">Storybook</div>
                                    <div class="skill">Next.JS</div>
                                    <div class="skill">Vercel</div>
                                </div>
                            </div>
                            <div class="category">
                                <div class="category-title">Scope of Work</div>
                                <div class="skills">
                                    <div class="skill">Design</div>
                                    <div class="skill">Website development</div>
                                    <div class="skill">Maintenance</div>
                                </div>
                            </div>
                        </div>
                </div>
                <img src="/images/EasyPark.png" alt="Work 2">
            </div>
            <div class="item">
                <div class="item-description">
                <div class="subtitle">
                                                       GitNation
                                                    </div>
                                                    <div class="categories">
                                                        <div class="category">
                                                            <div class="category-title">Industry</div>
                                                            <div class="skills">
                                                                <div class="skill">IT Services & Consultinig</div>
                                                            </div>

                                                        </div>
                                                        <div class="category">
                                                            <div class="category-title">Technical Stack</div>
                                                            <div class="skills">
                                                                <div class="skill">Storybook</div>
                                                                <div class="skill">Next.JS</div>
                                                                <div class="skill">Vercel</div>
                                                            </div>
                                                        </div>
                                                        <div class="category">
                                                            <div class="category-title">Scope of Work</div>
                                                            <div class="skills">
                                                                <div class="skill">Design</div>
                                                                <div class="skill">Website development</div>
                                                                <div class="skill">Maintenance</div>
                                                            </div>
                                                        </div>
                                                    </div>
                </div>
                <img src="/images/GitNation.png" alt="Work 3">
            </div>
            <div class="item">
                <div class="item-description">
                <div class="subtitle">
                                                                       Secret Escapes
                                                                    </div>
                                                                    <div class="categories">
                                                                        <div class="category">
                                                                            <div class="category-title">Industry</div>
                                                                            <div class="skills">
                                                                                <div class="skill">IT Services & Consultinig</div>
                                                                            </div>

                                                                        </div>
                                                                        <div class="category">
                                                                            <div class="category-title">Technical Stack</div>
                                                                            <div class="skills">
                                                                                <div class="skill">Storybook</div>
                                                                                <div class="skill">Next.JS</div>
                                                                                <div class="skill">Vercel</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="category">
                                                                            <div class="category-title">Scope of Work</div>
                                                                            <div class="skills">
                                                                                <div class="skill">Design</div>
                                                                                <div class="skill">Website development</div>
                                                                                <div class="skill">Maintenance</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                </div>
                <img src="/images/SecretEscapes.png" alt="Work 4">
            </div>
            <div class="item">
                <div class="item-description">
                <div class="subtitle">
                                                                                       Caleffi
                                                                                    </div>
                                                                                    <div class="categories">
                                                                                        <div class="category">
                                                                                            <div class="category-title">Industry</div>
                                                                                            <div class="skills">
                                                                                                <div class="skill">IT Services & Consultinig</div>
                                                                                            </div>

                                                                                        </div>
                                                                                        <div class="category">
                                                                                            <div class="category-title">Technical Stack</div>
                                                                                            <div class="skills">
                                                                                                <div class="skill">Storybook</div>
                                                                                                <div class="skill">Next.JS</div>
                                                                                                <div class="skill">Vercel</div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="category">
                                                                                            <div class="category-title">Scope of Work</div>
                                                                                            <div class="skills">
                                                                                                <div class="skill">Design</div>
                                                                                                <div class="skill">Website development</div>
                                                                                                <div class="skill">Maintenance</div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                </div>
                <img src="/images/Caleffi.png" alt="Work 5">
            </div>
        </div>
</section>